# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs and reports
logs/uptime.log
logs/report.json

# AWS credentials
.aws/

# Environment variables
.env

# JetBrains IDE files
.idea/

# OS files
.DS_Store
Thumbs.db